body {
  text-align: center;
}

div#editor {
  width: 81%;
  margin: auto;
  text-align: left;
}

span {
  font-size: 16px;  // spans text please stay
  background: #DDD;
  padding: 2px 4px;
}

test {
  display:block;margin:0;padding:0;border:0;
}